<h2>Редактирование {{ test.title }}</h2>

<p>{{ text_error }}</p>

<label>Название: </label>
<input type="text" name="test-title" [(ngModel)]="test.title" placeholder="Название теста" />

<div *ngFor="let question of test.questions; let i = index">
  <h3>Вопрос {{ i + 1 }}</h3>
  <input type="text" placeholder="Текст вопроса" [(ngModel)]="question.text" />

  <ul>
    <li *ngFor="let option of question.options; let j = index">
      <input type="radio"
             [name]="'correct_' + i"
             [checked]="option.isCorrect"
             (change)="selectCorrectOption(question, j)"
             />
             
      <input type="text" placeholder="Вариант {{ j + 1 }}" [(ngModel)]="option.text" />
      <button type="button" (click)="removeOption(question, j)">Удалить</button>
    </li>
  </ul>

  <button type="button" (click)="addOption(question)">Добавить вариант</button>
  <button type="button" (click)="removeQuestion(i)">Удалить вопрос</button>
  <br />
</div>

<br />
<button type="button" (click)="addQuestion()">Добавить вопрос</button>

<br />
<div *ngIf="test.questions.length > 2 and test.title != ''">
  <button type="button" (click)="btnSaveChanges()">Редактировать</button>
</div>

<ng-template #no_question>
  <p>В данном тесте нет вопросов</p>
</ng-template>
