:host {
  display: block;
  background-color: #fafafa; /* Чуть сероватый фон страницы, чтобы белые карточки «парили» */
  min-height: 100vh;
}

.shadow-sm {
  box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.03);
}

.shadow-xl {
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.05);
}
