<div class="pt-20 px-6">
  <div class="max-w-3xl mx-auto bg-gray-100 border border-gray-400 rounded-3xl p-5 m-5 mt-0">
    <div class="flex flex-col items-center">
      <div class="avatar-circle">
        <img [src]="edited_user.avatarUrl || 'avatars/default-avatar.jpg'" alt="User Avatar" class="user-avatar" />
      </div>
      <div class="buttons">
        <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none"/>

        <button (click)="fileInput.click()" class="btn-upload">Загрузить</button>

        <button *ngIf="edited_user.avatarUrl" (click)="removeAvatar()" class="btn-delete">Удалить</button>
      </div>
      <div class="flex w-full">
        <p class="p-3">Статус: </p>
        <input type="text"
               name="user-status"
               [(ngModel)]="edited_user.status"
               placeholder="ваш статус"
               class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400 transition" />
        <p class="p-3 whitespace-nowrap">50 символов</p>
      </div>
      <div class="flex pt-3">
        <p class="p-3 whitespace-nowrap">Дата рождения:</p>
        <input type="date"
               name="birth-date"
               [ngModel]="edited_user.birthDate | date:'yyyy-MM-dd'"
               (ngModelChange)="edited_user.birthDate = $event"
               class=" p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400 transition"/>
      </div>
      <div class="mt-8">
        <button type="button"
                (click)="btnSaveChanges()"
                class="px-6 py-3 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 shadow transition">
          Сохранить изменения
        </button>
      </div>
      <div *ngIf="edit_access">
        <p>Изменения сохранены</p>
      </div>
    </div>
  </div>
</div>
