<header class="fixed top-0 left-0 right-0 z-50 transition-all duration-500"
        [ngClass]="{
          'bg-white/70 backdrop-blur-lg border-b border-gray-100 shadow-sm': isScrolled,
          'bg-transparent': !isScrolled
        }">
  <nav>
    <div class="container mx-auto px-6 md:px-10 flex items-center justify-between transition-all duration-500"
         [ngClass]="isScrolled ? 'h-12' : 'h-16'">

      <a class="font-black tracking-tighter transition-all duration-500"
         [ngClass]="isScrolled ? 'text-lg' : 'text-xl'"
         [routerLink]="['/']">
        Testify
      </a>

      <div class="hidden md:flex items-center">
        <ul class="flex space-x-6 text-[14px] font-semibold text-gray-500/80">

          <li class="transition-colors hover:text-black"
              [routerLinkActive]="['text-black']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a [routerLink]="['/tests']">Обзор тестов</a>
          </li>

          <li class="transition-colors hover:text-black"
              *ngIf="authService.isAuthenticated"
              [routerLinkActive]="['text-black']">
            <a [routerLink]="['/management']">Управление</a>
          </li>

          <li class="transition-colors hover:text-black"
              [routerLinkActive]="['text-black']">
            <div *ngIf="authService.isAuthenticated; else loginLink">
              <a [routerLink]="['/profile', currentUserUsername]">{{ currentUserUsername }}</a>
            </div>
            <ng-template #loginLink>
              <a [routerLink]="['/login']">Войти</a>
            </ng-template>
          </li>

        </ul>
      </div>

      <button (click)="toggle()" class="md:hidden p-1 text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>

    </div>
  </nav>
</header>
