<ng-template #noTests>
  <p>Пока нет доступных тестов.</p>
</ng-template>


<div *ngIf="currentQuestion">
  <h3>{{ currentQuestion.question }}</h3>

  <ul>
    <li *ngFor="let option of currentQuestion.options">
      <label>
        <input type="radio" name="answer" [value]="option"
               (change)="selectedAnswers(currentQuestion.id, option, title)" />
        {{ option }}
      </label>
    </li>
  </ul>

  <div *ngIf="!isFirst">
    <button (click)="lastQuestion()">Предыдущий вопрос</button>
  </div>

  <div *ngIf="!isLast">
    <button (click)="nextQuestion()">Следующий вопрос</button>
  </div>
  
</div>
