<ng-template #no_tests>
  <p>Пока нет доступных тестов.</p>
</ng-template>


<div *ngIf="currentQuestion;else no_questions">
  <h3>{{ currentQuestion.text }}</h3>

  <ul>
    <li *ngFor="let option of currentQuestion.options">
      <label>
        <input type="radio" name="answer" [value]="option"
               (change)="selectedAnswers(currentQuestion.id, option, title)" />
        {{ option.text }}
      </label>
    </li>
  </ul>

  <div *ngIf="!isFirst">
    <button (click)="lastQuestion()">Предыдущий вопрос</button>
  </div>

  <div *ngIf="!isLast">
    <button (click)="nextQuestion()">Следующий вопрос</button>
  </div>
  
</div>

<ng-template #no_questions>
  <h3>В данном тесте нет вопросов</h3>
</ng-template>
