<!--<h2>Список тестов</h2>

<div *ngIf="errorMessage" class="error">
  {{ errorMessage }}
</div>

<div *ngFor="let test of tests">
  <h3>{{ test.question }}</h3>

  <ul>
    <li *ngFor="let option of test.options">
      {{ option }}
    </li>
  </ul>
</div>-->


<ng-template #noTests>
  <p>Пока нет доступных тестов.</p>
</ng-template>


<div *ngIf="currentQuestion">
  <h3>{{ currentQuestion.question }}</h3>

  <ul>
    <li *ngFor="let option of currentQuestion.options">
      <label>
        <input type="radio" name="answer" [value]="option"
               (change)="selectedAnswers(currentQuestion.id, option)" />
        {{ option }}
      </label>
    </li>
  </ul>

  <button (click)="nextQuestion()">Следующий вопрос</button>
</div>
